$h1: 400 2.5em 'Playfair Display', serif;
$navbar: 14px 'Lato', sans-serif !default;
$h2: 400 1.5em 'Playfair Display', serif;
$h3: 400 1.3em 'Playfair Display', serif;
$h4: 400 12px 'Lato', sans-serif;
$cita: 15px 'Lato', sans-serif;
$logo: 'La Belle Aurore', cursive;
$p: 15px 'Lato', sans-serif 